.graph-container{
  border-radius: 5px;
  width: 500px;
  height: 300px;
  resize: both;
  overflow: hidden;
  min-width: 400px;
  min-height: 300px;
  max-width: 800px;
  max-height: 400px;
  position: absolute;
  text-align: center;
  display: inline-flex;
  background-color: #e9e7e7;
  transform: translate(0px, 5px);
}

.graph-body{
  width: 90%;
  height: 90%;
}

.graph-move, .graph-trash{
  margin: 5px;
  width: 90%;
  min-width: 20px ;
  background-color: transparent;
  border: transparent;
  outline: transparent;
}

.graph-move :hover{
  cursor: pointer;
  color: orange;
}

.graph-trash :hover{
  cursor: pointer;
  color: red;
}

.graph-title{
  font-size: medium;
  /* max-width: 360px; */
  /* width: 90%; */
}

.graph{
  /* margin: 10px */
}
.graph-menu{
  width: 10%;
  /* min-width: 50px; */
  text-align: center;
  /* border-left: 1px solid grey; */
}

.y-label{
  margin: 10px;
  color: red;
  background-color: red;
}