.filter {
  height: 5%;
  margin-right: 3rem !important;
}

.table{
  /* margin-top: ; */
  height: 100%;
  /* outline: transparent;
  border: transparent; */
}

.table-data{
  margin-top: 2rem;
  height: 89.5%;
  /* min-height: 400px; */
  display: flex;
}